/* global.css */

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */

/* GeistMono Font */
@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Geist Font */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Root Variables for Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', Arial, Helvetica, sans-serif;
}

/* Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
